= image_tag @member.image.url(:thumb)

= render 'form' 

|
= link_to "Delete Member", member_path(@member), method: :delete, data: { confirm: "Are you sure you want to remove this member from this site?" }