%h2 Medlemmene
%br
-@members.each do |member|
	.col-sm-3
		%img.img-circle.img-responsive.img-center{:alt => "", :src => "#{member.image.url(:thumb)}"}/
		%h3.text-center=member.name
		%p.text-center=link_to member.company_name, "http://#{member.company_webpage}", :target => "_blank"
		- if user_signed_in?
			%p= link_to "Edit Member", edit_member_path(member)